[Unit]
Description=k8s-bot
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
WorkingDirectory=/opt/k8s-bot
ExecStart=/opt/k8s-bot/k8s-bot
Restart=always
RestartSec=5

Environment=GOMAXPROCS=1
Environment=GOMEMLIMIT=128MiB

MemoryMax=128M
CPUQuota=50%

NoNewPrivileges=true
PrivateTmp=true

[Install]
WantedBy=multi-user.target